body
{
  background: pink;
}
.navbar-brand
{
  font-family:'Raleway', sans-serif;
  font-size: 2.0rem;
  color:red;
  font-weight: 400;
}
.nav-item
{
  color:white;
}
.nav-item:hover
{
  color:red;
}
.col-lg-4
{
  padding: 5px;
}
.k
{
  font-family: 'Raleway', sans-serif;
  color:white;
}
.a
{
  color:white;
}
.m{
  font-family:'Raleway', sans-serif;
}
#carousel
{
  padding-top: 5px;
  width: 50%;
  height: 70%;
}
#contam
{
  width: 80%;
  padding: 0px;
  height: 70%;
}
.fab:hover
{
  color:red;
  size:10px;
}
.op:hover
{
  color:red;
}
.he:hover
{
  color:red;
}
.fab
{
  color: pink;
}
.l:hover
{
  color:pink;
}
.king
{
  background: pink;
  color: white;
}
.row
{
  padding: 5px;
}
